<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head th:replace="fragments/fragments::head(#{lt.greitosSraiges.blog.post.update.head.title})">
</head>

<body style="background-color: black">

<div class="container-sm" >

  <nav  th:replace="fragments/fragments::navigation"></nav>



  <div class="card mb-3" style="max-width: 1400px; margin-top: 1.5rem">
    <div class="row g-0">
      <div class="col-md-4">
        <img th:src="${post.picture}" class="img-fluid rounded-start" alt="no picture">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" th:text="${post.postName}"></h5>
          <p class="card-text" th:text="${post.postText}"></p>
        </div>
      </div>
    </div>
  </div>



<form method="post" th:object="${post}" th:action="@{/blog/{postId}/update(postId=${post.id})}">
  <div>
    <div class="mb-3">
      <label th:text="#{lt.greitosSraiges.blog.post.update.header}" for="header" class="form-label" style="color: white;"></label>
      <input type="text" class="form-control" id="header" placeholder="Post Header" th:field="*{postName}">
    </div>
    <div class="mb-3">
      <label th:text="#{lt.greitosSraiges.blog.post.update.text}" for="PostText" class="form-label" style="color: white;"></label>
      <textarea class="form-control" id="PostText" rows="3" th:field="*{postText}"></textarea>
    </div>
    <div class="mb-3">
      <label th:text="#{lt.greitosSraiges.blog.post.update.picture}" for="pictureLink" class="form-label" style="color: white;"></label>
      <input type="text" class="form-control" id="pictureLink" placeholder="Picture link" th:field="*{picture}">
      <input type="hidden" th:field="*{id}">
    </div>
    <button th:text="#{lt.greitosSraiges.blog.post.update.button.update}" type="submit" class="btn btn-warning"></button>
    <a th:href="@{/blog/{postId}/delete(postId=${post.id})}" th:text="#{lt.greitosSraiges.blog.post.update.button.delete}" class="btn btn-danger"></a>
  </div>
</form>

</div>

<footer th:replace="fragments/fragments::footer"></footer>

</body>
</html>