<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments::head(#{lt.greitosSraiges.user.create.title})">
</head>

<body style="background-color: black">
<div class="container-sm">

    <nav th:replace="fragments/fragments::navigation" ></nav>

    <div class="card mb-3">
        <img src="https://static.giant-bicycles.com/Images/PageBuilder/PageElements/singletrackmind_banner01_desktop_1598051527.jpg" class="card-img-top" alt="picture">
        <div class="card-body">
            <h3 th:text="#{lt.greitosSraiges.user.header}"> <strong></strong></h3>
            <form method="post" th:object="${user}" class="row g-3" th:action="@{user/create}">
                <div class="col-md-4">
                    <label th:text="#{lt.greitosSraiges.user.firstName}" for="validationServer01" class="form-label"></label>
                    <input type="text" th:field="*{name}" class="form-control" id="validationServer01" th:placeholder="#{lt.greitosSraiges.user.firstName.placeHolder}" required>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-4">
                    <label th:text="#{lt.greitosSraiges.user.lastName}" for="validationServer02" class="form-label"></label>
                    <input type="text" th:field="*{surname}" class="form-control " id="validationServer02" th:placeholder="#{lt.greitosSraiges.user.lastName.placeHolder}" required>
                    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-4">
                    <label th:text="#{lt.greitosSraiges.user.username}" for="validationServerUsername" class="form-label"></label>
                    <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend3">@</span>
                        <input type="text" th:field="*{username}" class="form-control" id="validationServerUsername" aria-describedby="inputGroupPrepend3 validationServerUsernameFeedback" th:placeholder="#{lt.greitosSraiges.user.username.placeHolder}"required>
                        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label th:text="#{lt.greitosSraiges.user.email}" for="validationServer03" class="form-label"></label>
                    <input type="email" th:field="*{email}" class="form-control" id="validationServer03" aria-describedby="validationServer03Feedback" th:placeholder="#{lt.greitosSraiges.user.email.placeholder}" required>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-3">
                    <label th:text="#{lt.greitosSraiges.user.password}" for="validationServer05" class="form-label"></label>
                    <input type="password" th:field="*{password}" class="form-control" id="validationServer05" aria-describedby="validationServer05Feedback" th:placeholder="#{lt.greitosSraiges.user.password.placeholder}" required>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback">
                    </div>
                </div>
                <div class="col-md-3">
                    <label th:text="#{lt.greitosSraiges.user.password.repeat}" or="validationServer05" class="form-label"></label>
                    <input type="password" th:field="*{repeatPassword}" class="form-control" id="validationServer05" aria-describedby="validationServer05Feedback" th:placeholder="#{lt.greitosSraiges.user.password.repeat.placeHolder}" required>
                    <div th:if="${#fields.hasErrors('repeatPassword')}" th:errors="*{repeatPassword}" class="invalid-feedback">
                    </div>
                </div>
                <div class="col-12">
                    <button th:text="#{lt.greitosSraiges.user.button}" class="btn btn-outline-success" type="submit"></button>
                </div>
            </form>


        </div>
    </div>

    <footer  th:replace="fragments/fragments::footer"></footer>
</div>

</body>
</html>