<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/fragments::head(#{lt.greitosSraiges.blog.title})"></head>

<body style="background-color: black">
<div class="container-sm">

  <nav th:replace="fragments/fragments::navigation" ></nav>

  <div class="card text-bg-dark" style="margin-bottom: 1.4rem">
    <img src="https://www.orbea.com/img/microsite-modules/banner_full/05_the-anatomy-of-fast.jpg" alt="...">
    <div class="card-img-overlay">
      <h1 th:text="#{lt.greitosSraiges.blog.main.banner.name}" class="card-title"></h1>
      <h5 th:text="#{lt.greitosSraiges.blog.main.banner.body.big}" class="card-text"></h5>
      <p th:text="#{lt.greitosSraiges.blog.main.banner.body.small}" class="card-text"><small></small></p>
    </div>
  </div>

  <div class="card" style="margin-bottom:1.5rem">
    <div class="card-body">
      <div class="row">
        <div class="col-8">
          <h1 th:text="#{lt.greitosSraiges.blog.main.stories.card.header}" style="color: black"></h1>
        </div>
        <div class="col-4">
          <form method="post" class="d-flex" role="search" th:action="@{/public/blog/search}">
            <input  class="form-control me-2" type="text" name="searchText" th:placeholder="#{lt.greitosSraiges.blog.main.stories.card.search.placeholder}" aria-label="Search" >
            <button th:text="#{lt.greitosSraiges.blog.main.stories.card.search.button}" class="btn btn-dark" type="submit"></button>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>

<div th:if = "${#lists.isEmpty(posts)}">
  <h5>There are no posts</h5>
  </div>

<div class="container-sm" th:unless="${#lists.isEmpty(posts)}">
  <div class="row row-cols-1 row-cols-md-3 g-4" >
    <div class="col" th:each="post: ${posts}">
      <div class="card h-100">
        <img th:src="${post.picture}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title" th:text="${post.postName}"></h5>
          <p><a th:text="#{lt.greitosSraiges.blog.read.more}" th:href="@{/public/blog/{postId}(postId=${post.id})}" class=" link-secondary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"></a></p>
        </div>
        <div class="card-footer">
          <div class="container text-center">
            <div class="row">
              <div class="col">
                <small class="text-body-secondary" th:text="${post.postDate}"></small>
              </div>
              <div class="col">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-text-fill" viewBox="0 0 16 16">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM4.5 5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7zm0 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1h-4z"/>
                  </svg>
                  <span th:text="${post.comments.size()}"> </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>


<div class="mx-auto p-2" style="width: 200px;">
  <form method="post" th:action="@{/public/blog}">
    <input  type="hidden"  name="number" th:value="${posts.size()}" >
    <button th:text="${'SHOW MORE'}" class="btn btn-light" type="submit"></button>
  </form>
</div>



<!--<div class="flex-container" style="justify-content: center" >-->
<!--  <form method="post" th:action="@{/public/blog}">-->
<!--    <input  type="hidden"  name="number" th:value="${posts.size()}" >-->
<!--    <button th:text="${'SHOW MORE'}" class="btn btn-light" type="submit"></button>-->
<!--  </form>-->




<footer th:replace="fragments/fragments::footer">

</footer>


</body>
</html>